<tr>
  <td><%= article.first_name %></td>
  <td><%= article.last_name %></td>
  <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_article_path(article.id) %></button></td>
</tr>