<div class="container-fluid">

  &nbsp;&nbsp;<div class="well"><h3>list of available user actions</h3></div>
  <br><br>


  <td>
    <button type="button" class="btn btn-default"><%= link_to 'Update user', edit_user_path(current_user.id) %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Show user', user_path(current_user.id) %></button>
  </td>

  <br><br>
  <%#
  #<%= render 'all_user' %>
</div>