<div class="container-fluid">
  &nbsp;&nbsp;<div class="well"><h3>narcos</h3></div>
  <br><br>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><%= link_to 'I am an user', controller: 'users' %></button>
    <button type="button" class="btn btn-default"><%= link_to 'I am a visitor', controller: 'articles' %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Hell, I am the admin', controller: 'admin' %></button>
  </div>
</div>